langchain-community==0.2.13
langchain==0.2.15
fastembed==0.3.2
langchain-core==0.2.43
langchain-openai==0.1.25
langchain-groq==0.1.10
openai==1.58.1
tiktoken==0.8.0
pymilvus==2.5.1
faiss-cpu==1.9.0.post1
fastapi==0.115.6
uvicorn==0.34.0
ragas==0.2.9
datasets==3.2.0
flashrank==0.2.9
lark==1.2.2
ipython==8.31.0
pymongo[srv]==3.11
python-dotenv==1.0.1
mlflow==2.19.0
slowapi==0.1.9
